<header class="w-full bg-header p-8 shadow-md">
  <nav class="sticky top-0 max-w-screen-xl mx-auto flex justify-between items-center">
    <a href="#" class="font-sourgummy font-bold text-amber-950 text-lg flex items-center space-x-2">
      <img src="../assets/images/naturesJamLogo.jpg" alt="Logo" class="w-16 h-16 object-contain" />
    </a>
    <ul class="flex space-x-6 text-2xl font-patrick text-text">
      <li><a href="./index.html" class="nav-link">Home</a></li>
      <li><a href="./about-us.html" class="nav-link">About</a></li>
      <li><a href="#" class="nav-link">Products</a></li>
      <li><a href="./contact-us.html" class="nav-link">Contact</a></li>
    </ul>
  </nav>
</header>
