<header class="w-full">
  <nav class="bg-gray-200 p-4">
    <div class="max-w-screen-xl mx-auto flex justify-between items-center px-4">
      <a href="#" class="font-amatic text-black text-lg">Nature's Jam</a>
      <ul class="flex space-x-4">
        <li><a href="#" class="text-black hover:text-blue-400">Home</a></li>
        <li><a href="#" class="text-black hover:text-blue-400">About</a></li>
        <li><a href="#" class="text-black hover:text-blue-400">Contact</a></li>
      </ul>
    </div>
  </nav>
</header>
