@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Patrick+Hand&family=Rock+Salt&display=swap');
@import "tailwindcss";


@theme {
  --font-rock-salt: 'Rock Salt', cursive;
  --font-patrick: 'Patrick Hand', cursive;

  --color-bg: #FBF5DE;
  --color-header: #bae0ed; 
  --color-text: #431407;
  --color-text-light: #FBF5DE; 
  --color-accent: #9c1c19; 
  --color-accent-hover: #e82925;
  --color-btn-bg: #9c1c19;

}

base {

  body {
    @apply flex flex-col justify-center items-center bg-bg text-amber-950;
  }

}

@layer components {

  .nav-link {
    @apply text-text hover:text-accent-hover;
  }

  .btn-primary {
    @apply inline-block bg-btn-bg text-white px-6 py-2 rounded hover:bg-accent-hover transition;
  }

  .hero-section {
    @apply font-patrick text-text-light w-full bg-bg py-12;
  }

  .hero-container {
    @apply max-w-screen-xl mx-auto px-6 flex flex-col md:flex-row items-center justify-between gap-8;
  }

  .hero-heading {
    @apply text-4xl font-rock-salt mb-4;
  }

  .hero-text {
    @apply text-lg mb-6;
  }

  .image-placeholder {
    @apply m-12 w-full h-64 bg-bg text-text rounded border-2 border-accent flex items-center justify-center text-xl italic;
  }


  
  .jam-carousel-section {
    @apply bg-bg py-12;
  }

  .carousel-container {
    @apply flex gap-6 overflow-x-auto scroll-smooth px-6;
  }

  .jam-card {
    @apply min-w-[250px] bg-bg border border-accent rounded-lg shadow p-4 flex-shrink-0;
  }
}