@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


@theme {
  --font-sourgummy: 'Sour Gummy', sans-serif;
  --font-patrick: 'Patrick Hand', cursive;

  --color-bg: #FBF5DE;
  --color-header: #bae0ed; 
  --color-text: #431407;
  --color-text-light: #FBF5DE; 
  --color-accent: #9c1c19; 
  --color-accent-hover: #e82925;
  --color-btn-bg: #9c1c19;

}

base {

  body {
    background-color: var(--color-bg);
    @apply font-patrick flex flex-col justify-center items-center bg-bg text-amber-950 h-screen overflow-hidden;
  }

}

@layer components {

  .nav-link {
    @apply text-text hover:text-accent-hover transition duration-200;
  }

  .btn-primary {
    @apply inline-block bg-btn-bg text-white px-6 py-2 rounded hover:bg-accent-hover transition duration-20;
  }

  .hero-section {
    @apply font-patrick text-text-light w-full bg-bg py-12;
  }

  .hero-container {
    @apply max-w-screen-xl mx-auto px-6 flex flex-col md:flex-row items-center justify-between gap-8;
  }

  .hero-heading {
    @apply text-4xl font-sourgummy mb-4;
  }

  .hero-text {
    @apply text-lg mb-6;
  }

  .image-placeholder {
    @apply m-12 w-full h-64 bg-bg text-text rounded border-2 border-accent flex items-center justify-center text-xl italic;
  }


  
  /* Universal section styling */
  .flavor-section {
    @apply py-12 bg-bg text-text;
  }

  /* Carousel container */
  .flavor-carousel {
    @apply flex justify-around px-4 md:px-12;
    scroll-snap-type: x mandatory;
  }

  /* Each jam flavor */
  .flavor-item {
    @apply flex flex-col items-center shrink-0;
    scroll-snap-align: center;
  }

  /* Jam image */
  .flavor-image {
    @apply w-60 h-60 md:w-70 md:h-70 object-contain hover:scale-110 transition-transform duration-150 ease-in-out ;
  }


  .story-section {
    @apply py-12 bg-header text-text;
    
  }
  .video-wrapper {
    @apply rounded-3xl overflow-hidden;
  }

}